{
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "include": [
    "app/**/*.js"
  ],
  "exclude": [
    "app/**/__test__.js",
    "app/**/__fixtures__.js",
    "app/**/*.test.js",
    "app/**/index.js"
  ],
  "all": true
}
