{
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "include": [
    "api/**/*.js"
  ],
  "exclude": [
    "api/**/__test__.js",
    "api/**/__fixtures__.js",
    "api/**/*.test.js",
    "api/**/index.js"
  ],
  "all": true
}
